$size: 100px;

html, body, p {
  margin: 0;
}

.nowplaying {
  height: $size;
  position: relative;
  overflow: hidden;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

.display {
  padding: 0;
}

.art {
  width: $size;
  height: $size;
  z-index: 1000;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}

.coverart {
  display: none;
  width: $size;
  height: $size;
  z-index: 2;
  background-image: 
  -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1)),
    color-stop(0.5, rgba(0, 0, 0, 0.3)),
    color-stop(0.6, rgba(0, 0, 0, 0.6)),
    color-stop(0.9, rgba(0, 0, 0, 0.9))
  );
  position: absolute;
  top: 0;
  left: 0;
}

.text {
  font-family: Bebas Neue, Arial;
  z-index: 3;
  padding: 0.8em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  line-height: 1.5em;
  position: absolute;
  top: 0;
  left: $size;
}

.artist,
.album {
  font-size: 1.74rem;
  color: rgba(255, 255, 255, 0.8);
  padding-right: 10px;
}

.album {
  display: none;
  font-size: 1.3rem;
  font-style: italic;
  color: rgba(255, 255, 255, 0.6);
}

.track {
  font-size: 48px !important;
  font-weight: 700;
  margin: 0.2rem 0 0;
  line-height: 1.2em;
  color: white;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
